/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 *  Vars
 * ------------------------------------------------------------------------- */
/* box-shadow import */
/*
 *  Mixins
 * ------------------------------------------------------------------------- */
/*
 *  Styles
 * ------------------------------------------------------------------------- */
/* line 87, ../sass/screen.scss */
body {
  font-size: 1em;
  line-height: 1.75em;
  font-family: helvetica, arial, sans-serif;
  background: #FFFFFF;
  color: #0e265e;
}

/* line 95, ../sass/screen.scss */
h1, h2, h3, h4, p {
  margin-bottom: 1em;
}

/* line 99, ../sass/screen.scss */
h1 {
  font-size: 3em;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}

/* line 105, ../sass/screen.scss */
h2 {
  font-size: 2em;
}

/* line 109, ../sass/screen.scss */
h3 {
  font-size: 1.5em;
}

/* line 113, ../sass/screen.scss */
hr {
  clear: both;
  margin-bottom: 2em;
  border: none;
  border-top: 1px solid #e9ebeb;
}

/* line 120, ../sass/screen.scss */
a {
  color: #0083c4;
  text-decoration: none;
}

/*.wrapper {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  @include clear-all;
}*/
/* line 133, ../sass/screen.scss */
section {
  padding-bottom: 3em;
}

/* line 137, ../sass/screen.scss */
.product-category {
  position: relative;
  height: 300px;
  overflow: hidden;
  margin-bottom: 3em;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
/* line 144, ../sass/screen.scss */
.product-category img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 151, ../sass/screen.scss */
.product-category h2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  background: rgba(68, 131, 191, 0.75);
  margin: 0;
  padding: 0.5em 5%;
}
/* line 160, ../sass/screen.scss */
.product-category h2 a {
  display: block;
  color: #0e265e;
}

/* Homepage */
/* line 170, ../sass/screen.scss */
.category .hx_product {
  margin: 0 auto 30px auto;
  border: 1px solid #e9ebeb;
  background: #f5f3f5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 184, ../sass/screen.scss */
.category .hx_product img {
  float: right;
  height: 150px;
  margin-right: 30px;
}
/* line 190, ../sass/screen.scss */
.category .hx_product:hover {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin: -2px auto 32px auto;
}

/* Product Page */
/* line 198, ../sass/screen.scss */
.product {
  display: none;
}
/* line 202, ../sass/screen.scss */
.product .description {
  padding-bottom: 3em;
}
/* line 206, ../sass/screen.scss */
.product .items .item {
  padding: 25px 0;
}
/* line 209, ../sass/screen.scss */
.product .items .item a, .product .items .item p {
  padding: 0 30px;
  margin: 5px 0;
}

/* Quiz */
/* line 219, ../sass/screen.scss */
.quiz h3 {
  margin-bottom: 0.5em;
}
/* line 222, ../sass/screen.scss */
.quiz h3 .check {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid #000000;
  color: red;
  line-height: 8px;
  font-size: 18px;
  text-align: center;
}
/* line 233, ../sass/screen.scss */
.quiz .more-info {
  display: none;
  margin-bottom: 3em;
}

/* Footer */
/* line 240, ../sass/screen.scss */
footer.footer-widgets {
  background: #5a5d5d;
  overflow: hidden;
  color: #f5f3f5;
  padding: 3em 0;
  -webkit-box-shadow: inset 0 1px 5px 0 #222222;
  -moz-box-shadow: inset 0 1px 5px 0 #222222;
  box-shadow: inset 0 1px 5px 0 #222222;
}
/* line 248, ../sass/screen.scss */
footer.footer-widgets a {
  color: #0e265e;
}

/* Widgets */
/* line 254, ../sass/screen.scss */
.widgetContainer {
  padding-bottom: 50px;
  width: 33%;
  float: left;
}
/* line 258, ../sass/screen.scss */
.widgetContainer ul {
  margin: 0;
  padding: 0;
}
/* line 262, ../sass/screen.scss */
.widgetContainer li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 268, ../sass/screen.scss */
.widgetContainer.hx-twitter ul {
  padding-top: 1em;
}
/* line 271, ../sass/screen.scss */
.widgetContainer.hx-twitter li {
  margin-bottom: 1em;
}
/* line 273, ../sass/screen.scss */
.widgetContainer.hx-twitter li .tweet_time {
  display: block;
  text-align: right;
}
/* line 276, ../sass/screen.scss */
.widgetContainer.hx-twitter li .tweet_time a {
  color: #e7e8e8;
}
