wp-config.php
.DS_Store
.ds_store
*/.DS_Store
*/.ds_store
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
