/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";



/*
 *  Vars
 * ------------------------------------------------------------------------- */

$default-border-radius: 10px;

/* box-shadow import */
$default-box-shadow-color: rgba(0,0,0,0.2);
$default-box-shadow-h-offset: 0px;
$default-box-shadow-v-offset: 2px;
$default-box-shadow-blur: 5px;
$default-box-shadow-spread: false;
$default-box-shadow-inset: false;

$margin-bottom: 2em;
$content-margin-bottom: 0 0 1em 0;

$body-color: #FFFFFF;
$footer-color: #1E2F59;

$primary-color: #0E265E;

$secondary-color: #0083C4;
$secondary-color-alpha: rgba(68, 131, 191, 0.75);

$lightest-grey: #F5F3F5;
$light-grey: #E7E8E8;
$dark-grey: #5A5D5D;

$line-color: #E9EBEB;



/*
 *  Mixins
 * ------------------------------------------------------------------------- */

@mixin clear-all {
  clear: both;
}

@mixin animate($property, $duration, $timing-function, $delay) {
  transition: $property $duration $timing-function $delay;
  -moz-transition: $property $duration $timing-function $delay;
  -webkit-transition: $property $duration $timing-function $delay;
  -o-transition: $property $duration $timing-function $delay;
}

@mixin animation($duration, $delay, $count) {
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $count;
  -moz-animation-duration: $duration;
  -moz-animation-delay: $delay;
  -moz-animation-iteration-count: $count;
  -webkit-animation-duration: $duration;
  -webkit-animation-delay: $delay;
  -webkit-animation-iteration-count: $count;
  -ms-animation-duration: $duration;
  -ms-animation-delay: $delay;
  -ms-animation-iteration-count: $count;
  -o-animation-duration: $duration;
  -o-animation-delay: $delay;
  -o-animation-iteration-count: $count;
}


/*
 *  Styles
 * ------------------------------------------------------------------------- */

body {
  font-size: 1em;
  line-height: 1.75em;
  font-family: helvetica, arial, sans-serif;
  background: #FFFFFF;
  color: $primary-color;
}

h1, h2, h3, h4, p {
  margin-bottom: 1em;
}

h1 {
  font-size: 3em;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

hr {
  @include clear-all;
  margin-bottom: $margin-bottom;
  border: none;
  border-top: 1px solid $line-color;
}

a {
  color: $secondary-color;
  text-decoration: none;
}


/*.wrapper {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  @include clear-all;
}*/

section {
  padding-bottom: 3em;
}

.product-category {
    position: relative;
    height: 300px;
    overflow: hidden;
    margin-bottom: 3em;
    @include box-shadow;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    
    h2 {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 90%;
      background: $secondary-color-alpha;
      margin: 0;
      padding: 0.5em 5%;
      
      a {
        display: block;
        color: $primary-color;
      }
    }
  }

/* Homepage */

.category {
  .hx_product {
    $bottom-margin: 30px;
    $bottom-margin-hover: $bottom-margin + 2px;
    
    margin: 0 auto $bottom-margin auto;
    border: 1px solid $line-color;
    background: $lightest-grey;
    
    @include border-radius;
    
    a {
      padding: 2em;
      display: block;
    }
    
    img {
      float: right;
      height: 150px;
      margin-right: 30px;
    }
    
    &:hover {
      @include box-shadow;
      margin: -2px auto $bottom-margin-hover auto;
    }
  }
}

/* Product Page */
.product {
  display: none;
  
  
  .description {
    padding-bottom: 3em;
  }
  .items {
    .item {
      padding: 25px 0;
      
      a, p {
        padding: 0 30px;
        margin: 5px 0;
      }
    }
  }
}

/* Footer */
footer.footer-widgets {
  background: $dark-grey;
  overflow: hidden;
  color: $lightest-grey;
  padding: 3em 0;
  
  @include single-box-shadow(#222222, 0, 1px, 5px, 0, true);
  
  a {
    color: $primary-color;
  }
}

/* Widgets */
.widgetContainer {
  padding-bottom: 50px;
  width: 33%;
  float: left;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &.hx-twitter {
    ul {
      padding-top: 1em;
    }
    li {
      margin-bottom: 1em;
      .tweet_time {
        display: block;
        text-align: right;
        a {
          color: $light-grey;
        }
      }
    }
  }
}
